@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  color: #4B5563;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 14vh;
  padding: 0 2rem;
  border-bottom: 2px solid #B4AEAE;
}
header div {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 20%;
}
header h1 {
  font-size: 2.5rem;
  color: #1F2937;
}

.navHeader {
  width: 40%;
}
.navHeader ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 8vh;
}
.navHeader li {
  height: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navHeader li a {
  color: #4B5563;
  font-size: 1.4rem;
}
.navHeader .btnVerdeHeader {
  background-color: #21C05C;
  height: 7vh;
  width: 28%;
  border-radius: 10px;
  min-width: 185px;
}
.navHeader .btnVerdeHeader a {
  color: #fff;
}

.primeiraSection {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: auto;
  padding: 20px 0;
  margin-bottom: 20px;
}
.primeiraSection section {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: start;
  height: auto;
  width: 50%;
  padding: 20px 0;
}
.primeiraSection section h2 {
  font-size: 3.75rem;
  width: 80%;
  color: #1F2937;
}
.primeiraSection section p {
  width: 65%;
}

.boxBtnsPrimeiraSection {
  height: 10vh;
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
.boxBtnsPrimeiraSection button {
  width: 45%;
  min-width: 172px;
  height: 8vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 1.125rem;
  border-radius: 10px;
  cursor: pointer;
}
.boxBtnsPrimeiraSection img {
  width: 15%;
}

.btnVerde {
  background-color: #16A34A;
  color: #fff;
  border: none;
}

.btnBranco {
  background-color: transparent;
  border: 1px solid #2563EB;
  color: #2563EB;
}

.dadosNumericos {
  background-color: #F3F5F8;
  height: 20vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.dadosNumericos div {
  text-align: center;
}
.dadosNumericos div h2 {
  font-size: 2.5rem;
  color: #16A34A;
}

.comoFunciona {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 70vh;
}
.comoFunciona h2, .comoFunciona h3 {
  width: 75%;
  color: #1F2937;
}
.comoFunciona section {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
.comoFunciona section article {
  background-color: #F3F5F8;
  border-radius: 10px;
  height: 50vh;
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.comoFunciona section article div, .comoFunciona section article p {
  width: 90%;
}
.comoFunciona .caixaFlexivel {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.comoFunciona .caixaFlexivel img {
  width: 8%;
}
.comoFunciona .caixaFlexivel div, .comoFunciona .caixaFlexivel h2 {
  width: 90%;
}
.comoFunciona .tituloParaDoadores {
  color: #16A34A;
}
.comoFunciona .tituloAdq {
  color: #2563EB;
}

.produtosDisponiveis {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  height: 100vh;
  background-color: #F3F5F8;
}
.produtosDisponiveis h2 {
  color: #1F2937;
  font-size: 2rem;
  width: 80%;
  padding: 1rem;
}
.produtosDisponiveis h3 {
  color: #4B5563;
  font-size: 1.25rem;
  width: 80%;
  padding: 1rem;
  gap: 2rem;
}
.produtosDisponiveis section {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  height: 50vh;
  width: 100%;
  padding: 2rem;
}
.produtosDisponiveis section article {
  border: 1px solid #16A34A;
  border-radius: 10px;
  width: 15%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 2rem;
  text-align: center;
  background-color: #FFFFFF;
}
.produtosDisponiveis section article img {
  height: 25vh;
  width: 100%;
}
.produtosDisponiveis section article h3 {
  color: #09090B;
  font-weight: 400;
}
.produtosDisponiveis section article p {
  width: 80%;
  color: #4B5563;
}
.produtosDisponiveis section article button {
  background-color: #16A34A;
  color: #FFFFFF;
  width: 45%;
  height: 40px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.pessoal {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  height: 80vh;
  padding: 20px 0;
  background-color: #FFFFFF;
}
.pessoal h2 {
  color: #1F2937;
  font-size: 2rem;
}
.pessoal h3 {
  color: #4B5563;
  font-size: 1.25rem;
}
.pessoal .box-pessoal {
  display: flex;
  justify-content: space-evenly;
  height: 35vh;
  width: 70%;
  gap: 2rem;
  margin: 2rem;
}
.pessoal .box-pessoal article {
  border: 1px solid #9CA3AF;
  box-shadow: -10px 0px 10px -5px rgba(0, 0, 0, 0.5);
  background-color: #FFFFFF;
  border-radius: 10px;
  height: 33.5vh;
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.pessoal .box-pessoal article .box-estrela, .pessoal .box-pessoal article p {
  width: 90%;
}
.pessoal .box-pessoal article .box-icone {
  display: flex;
  justify-content: space-between;
  gap: 0.5rem;
}
.pessoal .box-pessoal article .box-icone .texto-icone h4 {
  margin-left: 0.5rem;
}
.pessoal .box-pessoal article .box-icone .texto-icone p {
  margin-left: 0.5rem;
}

.diferenca {
  background-color: #F3F5F8;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 60vh;
  padding: 20px 0;
}
.diferenca section {
  display: flex;
  width: 80%;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: auto;
  padding: 20px 0;
  gap: 2rem;
}
.diferenca section h2 {
  font-size: 3rem;
  color: #1F2937;
}
.diferenca section p {
  font-size: 2rem;
  text-align: center;
}
.diferenca section .btn-dif {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  width: 50%;
  gap: 2rem;
}
.diferenca section .btn-dif button {
  width: 30%;
  min-width: 172px;
  height: 8vh;
  font-size: 1.125rem;
  border-radius: 10px;
  cursor: pointer;
}
.diferenca section .btn-dif .btn-dif-verde {
  background-color: #16A34A;
  border: none;
  color: #FFFFFF;
}
.diferenca section .btn-dif .btn-dif-branco {
  background-color: white;
  border: 1px solid #16A34A;
  color: #16A34A;
}

footer {
  background-color: #1F2937;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  height: 40vh;
}
footer .box-info {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 2rem;
  margin: 15px;
}
footer .box-info article {
  padding: 1.5rem;
}
footer .box-info article h3 {
  text-align: left;
  padding: 0.5rem;
  color: white;
}
footer .box-info article ul li {
  list-style: none;
  padding: 0.3rem;
}
footer .box-info article ul li a {
  text-align: left;
  color: #9CA3AF;
}
footer .box-info article div img {
  padding: 0.5rem;
}
footer .box-info article p {
  color: #9CA3AF;
}
footer .box-info .logo-tit {
  display: flex;
}
footer .aviso {
  width: 100%;
  display: flex;
  justify-content: center;
  border-top: 1.5px solid #9FABBC;
  padding: 1.5rem;
  text-align: center;
}
footer .aviso p {
  text-align: center;
  margin-bottom: 6px;
  color: #9CA3AF;
}

@media (max-width: 1410px) {
  .navHeader {
    width: 65%;
  }
  .produtosDisponiveis {
    height: auto;
  }
  .produtosDisponiveis section {
    height: auto;
  }
  footer {
    height: auto;
  }
}
@media (max-width: 1000px) {
  header {
    flex-direction: column;
    height: auto;
    padding: 1.5rem 2rem;
  }
  header div {
    width: 50%;
  }
  .navHeader {
    width: 95%;
  }
  .comoFunciona {
    height: 120vh;
    padding: 20px 0;
    text-align: center;
  }
  .comoFunciona section {
    flex-direction: column;
    align-items: center;
    text-align: start;
    row-gap: 20px;
  }
  .comoFunciona section article {
    width: 80%;
  }
  .produtosDisponiveis {
    height: auto;
  }
  .produtosDisponiveis section {
    height: auto;
    align-items: center;
    gap: 2rem;
  }
  .produtosDisponiveis section article {
    width: 30%;
  }
  footer {
    height: auto;
  }
}
@media (min-width: 501px) and (max-width: 900px) {
  .navHeader ul li a {
    font-size: 0.8rem;
  }
  .primeiraSection {
    flex-direction: column;
  }
  .primeiraSection section {
    width: 96%;
    align-items: center;
    text-align: center;
  }
  .primeiraSection section h2 {
    font-size: 2.5rem;
  }
  .primeiraSection section h2, .primeiraSection section p {
    width: 100%;
  }
  .boxBtnsPrimeiraSection {
    width: 70%;
  }
  .boxBtnsPrimeiraSection button {
    min-width: 160px;
    font-size: 1rem;
  }
  .produtosDisponiveis {
    height: auto;
  }
  .produtosDisponiveis section {
    height: auto;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
  }
  .produtosDisponiveis section article {
    width: 40%;
  }
  .pessoal {
    height: auto;
    align-items: center;
  }
  .pessoal .box-pessoal {
    height: auto;
    flex-direction: column;
  }
  .pessoal .box-pessoal article {
    height: 20vh;
    align-items: center;
  }
  .diferenca {
    height: auto;
  }
  .diferenca section {
    height: auto;
  }
  .diferenca section h2 {
    font-size: 2rem;
  }
  .diferenca section p {
    font-size: 1.5rem;
  }
  footer {
    height: auto;
  }
}
@media (min-width: 201px) and (max-width: 500px) {
  header {
    flex-direction: column;
    justify-content: space-evenly;
    height: 17vh;
    padding: 0;
  }
  header div {
    width: 70%;
  }
  header div h1 {
    font-size: 1.5rem;
  }
  .navHeader {
    width: 95%;
  }
  .navHeader ul {
    flex-wrap: wrap;
    align-content: center;
  }
  .navHeader ul li a {
    font-size: 0.7rem;
    text-align: center;
  }
  .primeiraSection {
    flex-direction: column;
    width: 100%;
    height: 80vh;
  }
  .primeiraSection img {
    width: 35vh;
  }
  .primeiraSection section {
    text-align: center;
    width: 96%;
    align-items: center;
  }
  .primeiraSection section h2 {
    font-size: 1.5rem;
  }
  .primeiraSection section h2, .primeiraSection section p {
    width: 100%;
  }
  .boxBtnsPrimeiraSection {
    width: 100%;
  }
  .boxBtnsPrimeiraSection button {
    width: 45%;
    min-width: 0;
    font-size: 1rem;
  }
  .boxBtnsPrimeiraSection button img {
    width: 10%;
  }
  .dadosNumericos div h2 {
    font-size: 1.5rem;
  }
  .comoFunciona {
    height: 130vh;
  }
  .comoFunciona section {
    height: 120vh;
  }
  .comoFunciona section article div {
    font-size: 10px;
  }
  .produtosDisponiveis {
    height: auto;
  }
  .produtosDisponiveis h2 {
    font-size: 1.5rem;
    gap: 2rem;
  }
  .produtosDisponiveis section {
    height: auto;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }
  .produtosDisponiveis section article {
    width: 60%;
  }
  .pessoal {
    height: auto;
    align-items: center;
  }
  .pessoal h2 {
    font-size: 1.5rem;
  }
  .pessoal h3 {
    font-size: 1rem;
  }
  .pessoal .box-pessoal {
    height: auto;
    flex-direction: column;
  }
  .pessoal .box-pessoal article {
    width: auto;
    padding: auto;
  }
  .pessoal .box-pessoal article .box-icone {
    width: 90%;
  }
  .pessoal .box-pessoal article .box-icone .texto-icone {
    width: 90%;
    text-align: center;
  }
  .diferenca {
    height: auto;
  }
  .diferenca section {
    align-items: center;
  }
  .diferenca section h2 {
    font-size: 1.8rem;
  }
  .diferenca section p {
    font-size: 1rem;
  }
  footer {
    height: auto;
  }
  footer .box-info {
    flex-direction: column;
  }
}/*# sourceMappingURL=style.css.map */