@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    color: #4B5563;
}
// estilizando a header
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 14vh;
    padding: 0 2rem;
    border-bottom: 2px solid #B4AEAE;

    div {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 20%;
    }

    h1 {
        font-size: 2.5rem;
        color: #1F2937;
    }
}

.navHeader {
    width: 40%;

    ul {
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 8vh;
    }

    li {
        height: 5vh;
        display: flex;
        justify-content: center;
        align-items: center;

        a {
            color: #4B5563;
            font-size: 1.4rem;
        }
    }

    .btnVerdeHeader {
        background-color: #21C05C;
        height: 7vh;
        width: 28%;
        border-radius: 10px;
        min-width: 185px;

        a {
            color: #fff;
        }
    }
}
// estilizando a parte central do site 
.primeiraSection {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: auto;
    padding: 20px 0;
    margin-bottom: 20px;
    
    section {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: start;
        height: auto;
        width: 50%;
        padding: 20px 0;

        h2 {
            font-size: 3.75rem;
            width: 80%;
            color: #1F2937;
        }

        p {
            width: 65%;
        }
    }
}

.boxBtnsPrimeiraSection {
    height: 10vh;
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;

    button {
        width: 45%;
        min-width: 172px;
        height: 8vh;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        font-size: 1.125rem;
        border-radius: 10px;
        cursor: pointer;
    }

    img {
        width: 15%;
    }
}

.btnVerde {
    background-color: #16A34A;
    color: #fff;
    border: none;
}

.btnBranco {
    background-color: transparent;
    border: 1px solid #2563EB;
    color: #2563EB;
}

//estilizando o segundo box - Dados Númericos 
.dadosNumericos {
    background-color: #F3F5F8;
    height: 20vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    div {
        text-align: center;

        h2 {
            font-size: 2.5rem;
            color: #16A34A;
        }
    }
}
// estilizando o terceiro box - Como funciona? 
.comoFunciona {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 70vh;

    h2, h3 {
        width: 75%;
        color: #1F2937;
    }

    section {
        width: 100%;
        display: flex;
        justify-content: space-evenly;

        article {
            background-color: #F3F5F8;
            border-radius: 10px;
            height: 50vh;
            width: 30%;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;

            div, p {
                width: 90%;
            }
        }
    }

    .caixaFlexivel {
        display: flex;
        justify-content: space-between;
        align-items: center;

        img {
            width: 8%;
        }

        div, h2 {
            width: 90%;
        }
    }

    .tituloParaDoadores {
        color: #16A34A;
        
    }

    .tituloAdq{
        color:#2563EB;
        
    }
}

// estilizando o quarto box - Produtos disponiveis 
.produtosDisponiveis{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 75vh;
    background-color: #F3F5F8;
    
    h2{
        color:#1F2937;
        font-size: 2rem;
        width: 80%;
    }
    h3{
        color:#4B5563;
        font-size:1.25rem;
        width: 80%;
    }

    section{
        display: flex;
        justify-content: space-evenly;
        height: 50vh;
        width: 100%;

        article{
            border: 1px solid #16A34A;
            border-radius: 10px;
            width: 15%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            padding-bottom: 2rem;
            text-align: center;
            height: 50vh;
            background-color: #FFFFFF;

            img{
                height: 25vh;
                width: 100%;
            }

            h3{
                color:#09090B;
                font-weight: 400;
            }

            p{
                width: 80%;
                color:#4B5563;
            }

            button{
                background-color: #16A34A;
                color:#FFFFFF;
                width: 45%;
                height: 40px;
                border:none;
                border-radius: 10px;
                cursor: pointer;
            }
            
        }
    }
}

// estilizando o quinto box - O que o pessoal tá falando? 
.pessoal{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 75vh;
    background-color: #FFFFFF;

    h2{
        color:#1F2937;
        font-size: 2rem;
    }
    h3{
        color:#4B5563;
        font-size:1.25rem;
    }

    .box-pessoal{
        display: flex;
        justify-content: space-evenly;
        height: 35vh;
        width: 70%;
        padding: 3rem;
        gap: 2rem;
        margin: 2rem;

        article{
            border: 1px solid #9CA3AF;
             box-shadow: -10px 0px 10px -5px rgba(0, 0, 0, 0.5);
            background-color: #FFFFFF;
            border-radius: 10px;
            height: 28vh;
            width: 30%;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;

            .box-estrela, p {
                width: 90%;
                margin-left: 3rem
            }

            .box-icone{
            display: flex;
            justify-content: space-between;
            padding-left: 1rem;
            gap:0.5rem;
            
                .texto-icone{
                    h4{
                    width: 10vw;
                    height: 2rem;
                    flex-direction: column;
                    } 
                    p{
                        margin-left: 0.2rem;
                    }
             
                }
            }
        }   
    } 
}  

//estilizando o sexto box - Pronto para fazer a diferença? 
.diferenca{
    background-color: #F3F5F8;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 60vh;
    padding: 20px 0;

     section {
        display: flex;
        width: 80%;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        height: auto;
        padding: 20px 0;
        gap:2rem;

        h2 {
            font-size: 3rem;
            color: #1F2937;
        }

        p {
            font-size: 2rem;
            text-align: center;
        }
        .btn-dif{
                display: flex;
                flex-wrap: wrap;
                justify-content: space-evenly;
                align-items: center;
                width:50%;
            button{
                width: 30%;
                min-width: 172px;
                height: 8vh;
                font-size: 1.125rem;
                border-radius: 10px;
                cursor: pointer;

                
            }
            .btn-dif-verde{
                    background-color: #16A34A;
                    border: none;
                    color: #FFFFFF;
            }
            .btn-dif-branco{
                background-color:white;
                border:1px solid #16A34A;
                color:#16A34A;
            }
        }
    }
}

// estilizando o footer
footer{
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    height: 40vh;
    
    .box-info{
        display: flex;
        flex-direction:row;
        justify-content: space-around;
        gap:2.5rem;
        margin:15px; 

         article{
            padding: 2rem;

            h3{
                text-align: left;
                padding: 0.5rem;
                color: white;
            }

            ul{
                li{
                    list-style: none;
                    padding: 0.3rem;
                    a{
                    text-align: left;
                    color:#9CA3AF
                    }
                }
            }
            div{
                img{
                    padding: 0.5rem;
                }
            }
            p{
               color: #9CA3AF;
            }
        }
        .logo-tit{
            display: flex;
        }
    }
    .aviso{
        width:100%;
        display: flex;
        justify-content: center;
        border-top: 1.5px solid #9FABBC;
        padding: 1.5rem;
        text-align: center;

            p{
                text-align:center;
                margin-bottom: 6px;
                color:#9CA3AF;
            }
    }
    
}

//* RESPONSIVIDADE
//MAX 200px -> smartwatch
//de 201px a 500px -> celular
//de 501px a 900px -> tablet
//de 901 a 1500px -> notebook

//@media (max-width: 1410px) { 

    //header {

    //}

//}

//*/

// Responsividade pontuais para o header

@media (max-width: 1410px) {
    .navHeader {
        width: 65%;
    }
}

@media (max-width: 1000px) {
    header {
        flex-direction: column;
        height: auto;
        padding: 1.5rem 2rem;

        div {
            width: 50%;
        }
    }
    .navHeader {
        width: 95%;
    }

    .comoFunciona{
        height: 120vh;
        padding: 20px 0;
        text-align: center;
        section{
            flex-direction: column;
            align-items: center;
            text-align: start;
            row-gap: 20px;
            
            article{
                width: 80%;
            }
        }
    }
}

//Responsivo tablet
@media (min-width: 501px) and (max-width: 900px) {
    .navHeader {
        ul {
            li {
                a {
                    font-size: 0.9rem;
                }
            }
        }
    }

    .primeiraSection {
        flex-direction: column;

        section {
            width: 96%;
            align-items: center;
            text-align: center;

            h2 {
                font-size: 2.5rem;
            }
            h2, p {
                width: 100%;
            }
        }
    }

    .boxBtnsPrimeiraSection {
        width: 70%;

        button {
            min-width: 160px;
            font-size: 1rem;
        }
    }
}


// Responsivo celular

@media (min-width: 201px) and (max-width: 500px) {
    header {
        flex-direction: column;
        justify-content: space-evenly;
        height: 17vh;
        padding: 0;

        div {
            width: 70%;

            h1 {
                font-size: 1.5rem;
            }
        }
    }

    .navHeader {
        width: 95%;

        ul {
            flex-wrap: wrap;
            align-content: center;

            li {
                a {
                    font-size: 0.8rem;
                    text-align: center;
                }
            }
        }
    }

    .primeiraSection {
        flex-direction: column;
        width: 100%;
        height: 80vh;

        img {
            width: 50vh;
        }

        section {
            text-align: center;
            width: 96%;
            align-items: center;

            h2 {
                font-size: 1.5rem;
            }

            h2, p {
                width: 100%;
            }
        }
    }

    .boxBtnsPrimeiraSection {
            width: 100%;

            button {
                width: 45%;
                min-width: 0;
                font-size: 1rem;

                img {
                    width: 10%;
                }
            }
            
        }

    .dadosNumericos {
        div {
            h2 {
                font-size: 1.5rem;
            }
        }
    }

    .comoFunciona{
        height: 130vh;

        section{
            height: 120vh;

            article{
                div{
                    font-size :10px;
                }
            }
        }
    }
}